<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Zaba'">
  <content has-header="true" has-tabs="true" padding="true">

<style>
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}
</style>

<br>
    <h1>Thank you!</h1>

<h3>Your application is being processed</h3>
<h4>We have an extensive waitlist for loans, but we will be in touch with you as soon as possible to notify you of your position on the waitlist.<h4>
<br>



  </content>
</view>
