<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'Zaba Financiera'">
  <content has-header="true" has-tabs="true" padding="true">

<style>
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}
</style>

<br>
    <h1>¡Gracias!</h1>

<h3>Se está procesando su solicitud</h3>
<h4>Contamos con una extensa lista de espera para los préstamos, pero estaremos en contacto con usted lo antes posible para notificarle de su posición en la lista de espera.<h4>
<!--   <h3>Your application is being processed</h3>
<h4>We have an extensive waitlist for loans, but we will be in touch with you as soon as possible to notify you of your position on the waitlist.<h4> -->
<br>

<h3>Tome las riendas de su vida financiera</h3>
<!-- Take charge of your financial life -->

<h4>3 maneras para gastar mejor: </h4>

<p>Todos sabemos que ahorrar y vivir con un presupuesto no es nada divertido. Aunque tenemos metas con nuestras finanzas - quizás comprar un departamento o pagar la maestría – de vez en cuando queremos gastar un poco sin quedarnos sin lana.  Aquí les presento 3 tips para gozar tu dinero mientras sigues ahorrando. </p>

<p>1)  Comprar experiencias. Sal con tus amigos a un bar o fin de semana en la playa. Según un estudio de la universidad americana Cornell, gastar en experiencias es mejor que gastar en cosas y los que gastan en experiencias son más inteligente, más abierto, y más extrovertido. </p>
<p>2)  Aprovechar de rebajas. Todos queremos vestirnos bien pero la mayoría no nos gustan los precios que vemos cada vez que vamos de paseo al centro comercial. Por eso te vale aprovechar de rebajas cuando hayan. ¿Tienes una camisa o suéter que a ti te encanta? Espera unas semanas y te va a gustar más cuando lo compras a un precio aún reducido. </p>
<p>3)  Invierte en lo que amas. Muchos de nosotros tenemos varias actividades o ‘hobbies’ que nos encantan. Sin embargo cuando estás intentando ahorrar a veces tienes que cortar unas de tu agenda. Por eso te vale invertir un poco más en lo que amas dejando los demás para disfrutes lo que realmente quieres y el dolor de ahorrar no te duele tanto. </p>

 
<h4>Cómo ser un emprendedor listo </h4>

<p>¿Quieres emprender un nuevo negocio? Quizás quieres abrir un gym o un restaurante pero piensas que necesitarás mucha capital de semilla para hacer tus sueños realidad. Lo bueno es que la realidad puede ser al contrario: es decir que, sí, puedes emprender el negocio de tus sueños sin necesitar una inversión costosa. Abajo que 4 tips sobre cómo hacerlo: 
</p>
<p>1)  Pedir préstamos de tu familia y amigos. ¡Nos encantan apoyar a nuestros amigos! Si no están dispuestos a prestarte dinero fácilmente, mejor que se pongan de acuerdo con ellos para que te den dinero en cambio a un porciento de tu empresa. Es un ganar ganar. 
</p> 
<p>
2)  Gastar en sólo lo que es sumamente importante para tu negocio. ¿Quieres emprender un servicio de sándwiches a domicilio? Entonces ¿por qué no usas tu cocina para prepararlos y tu bici para entregarlos en vez de rentar un local y comprar un moto o bici? Escribe una lista de las cosas necesarias para tu empresa y categorizarlas según lo siguiente: “me urge” y “sería bueno ... pero no es necesario ahorita”. Invierte en las que salen en la columna de “me urge”. 
</p> 
<p>
3)  ¡No renuncies ya! No renuncies tu trabajo actual mientras que estás apenas empezando tu negocio de sueños. Necesitas dinero para vivir, ¿no? Tienes que pagar la renta, la escuela para tus niños, regalos de Navidad. Mejor que sigues con ingresos mensuales hasta tal punto en tu negocio que no puedes dejarlo para trabajar fuera y te conviene económicamente dedicarte a ello de tiempo completo. 
</p> 
<p>
4)  Consigue un préstamo de un monto pequeño para el corto plazo. Somos una empresa financiera entonces piensas que deberías decirte que tienes que sacar un préstamo con nosotros pero eso no es cierto para nada. Nos gusta invertir en gente sólida y con ingresos mensuales. Pero, si cuentas con eses requisitos y las demás opciones no te convienen, puedes sacar un préstamo pequeño en el corto plazo a bajo interés para inaugurar tu empresa y crecer. Con gusto te ayudaremos en eso, márcanos para platicar en más detalle. 
</p> 

<h4>¿Sabes cuál es la tasa de interés de tu tarjeta de crédito?</h4>

<p>En conversaciones con nuestros amigos, nosotros nos enteramos al efecto que muchas personas desconocen la tasa de interés de sus tarjetas de crédito. Eso es muy preocupante porque las tasas de interés en México pueden salir muy altas. Abajo les dejamos una tabla que hizo el Banco de México comparando las tasas de interés generales para tarjetas clásicas (máximo $4,500MN en crédito) de algunos de los bancos comerciales más grandes del país: 
</p> 

<img src="img/rates_4500.png">
<p>
Claro que las tasas de interés realmente dependen en cada persona y su perfil de riesgo, sin embargo estamos hablando de un mínimo de 39.6% CAT con Santander y hasta 88.1% CAT con BanCoppel. Imagínense cuanto más pagarás de tu saldo si dejas sólo un poquito cada mes (¡!). 
</p> 
<p>Por eso estamos aquí en Zaba Capital para apoyarles conseguir crédito más barato y más fácil sin requerir cosas como información del buró de crédito. Claro tenemos que decir que el crédito y el CAT total que les ofrecemos variará por cada persona pero mejor que nos hables y platicamos sobre lo que podemos hacer para ti. Te esperamos. </p>







  </content>
</view>
